.product_card {
  width: 100%;
  max-width: 30rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 0 auto;
  position: relative;
  border-radius: .4rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  justify-content: flex-end;
}

.product_card:hover {
  transition: 300ms ease-in-out;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.45);
}

.card_image {
  width: 100%;
}

.card_infos {
  padding: 2rem;
  border-top: 1px solid #ddd;
}

.card_image {
  font-size: 3rem;
  font-weight: 400;
  display: block;
  margin-bottom: 1rem;
  border-radius: .4rem;
}
.card_title {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.5;
  font-weight: 500;
}

.button_add_cart {
  width: 100%;
  height: 5rem;
  background-color: #febd69;
  outline: none;
  border: none;
  cursor: pointer;
  color: rgb(15, 17, 17);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  font-weight: 500;
  border-bottom-left-radius: .4rem;
  border-bottom-right-radius: .4rem;
}

.cart_icon {
  font-size: 2.1rem;
}

.product_card:hover .button_add_cart{
  transition: 300ms ease-in-out;
  background-color: #fca311;
}

.button_add_favorite {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.8rem;
  height: 3.8rem;
  border: none;
  margin: .2rem .2rem;
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 2rem;
  color: #F48024;
  background-color: transparent;
  cursor: pointer;
}

.button_add_favorite:hover {
  transform: scale(1.2);
}

.product_card:hover .button_add_favorite {
  transition: 300ms ease;
  display: flex;
}