.header {
  background-color: #232f3e;
  position: fixed;
  width: 100%;
  z-index: 1;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.logo {
  font-size: 3rem;
  color: #fff;
  margin-right: 1.8rem;
}

.buttons {
  display: flex;
  flex-direction: row;
}